.carousel {
	max-height: 100vh;
	display: flex;
	overflow: hidden;
	width: 100%;
}

.carousel-item {
	align-self: center;
}

.carousel-caption {
	position: absolute;
	bottom: 40vh;
	color: #fff;
	padding: 10px;
	background: rgba(0,0,0,0.5);
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
	max-width: 600px;
}

.carousel-img {
	width: 100%;
}

.carousel-button {
	position: absolute;
	top: 50%;
	z-index: 1;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	width: 64px;
	height: 64px;

	img {
		width: 100%;
	}
}

.carousel-button--prev {
	left: 5px;
}

.carousel-button--next {
	right: 5px;
}