@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-light-webfont.woff') format('woff'),
       url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-Light.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-lightitalic-webfont.woff') format('woff'),
       url('../fonts/roboto-lightitalic-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-LightItalic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  300;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-regular-webfont.woff') format('woff'),
       url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-italic-webfont.woff') format('woff'),
       url('../fonts/roboto-italic-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-Italic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bold-webfont.woff') format('woff'),
       url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-Bold.ttf')  format('truetype');
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto-bolditalic-webfont.woff') format('woff'),
       url('../fonts/roboto-bolditalic-webfont.woff2') format('woff2'),
       url('../fonts/Roboto-BoldItalic.ttf')  format('truetype');
       
  font-style:   italic;
  font-weight:  700;
}