.hero {
	margin-top: 56px;
}

.section-title {
	text-align: center;
	font-weight: 700;
	text-transform: uppercase;
}

.section {
	padding: 64px 0;
}

.value-items {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	@media #{$medium} {
		flex-direction: row;
	}
}

.value-item {
	position: relative;
	color: #fff;
	padding: 25px 20px;
	border-style: solid;
	border-width: 2px;
	text-align: center;
	margin-bottom: 20px;
	
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		transform: translateX(-50%);
		border-style: solid;
		border-width: 10px;
		border-color: transparent;
	}

	&:last-child {
		margin: 0;
	}

	@media #{$large} {
		margin-right: 20px;
		margin-bottom: 0;

		&:after {
			content: '';
			position: absolute;
			left: 100%;
			top: 50%;
			transform: translateY(-50%);
			border-style: solid;
			border-width: 10px;
			border-color: transparent;
		}
	}

}

.value-title {
	text-transform: uppercase;
}

.value-item--innovative {
	background: $brand_red;
	border-color: $brand_red_dark;
	
	&:after {
		border-top-color: $brand_red_dark;
	}

	@media #{$large} {
		&:after {
			border-left-color: $brand_red_dark;
			border-top-color: transparent;
		}
	}
}

.value-item--loyalty {
	background: $brand_green;
	border-color: $brand_green_dark;

	&:after {
		border-top-color: $brand_green_dark;
	}

	@media #{$large} {
		&:after {
			border-left-color: $brand_green_dark;
			border-top-color: transparent;
		}
	}
}

.value-item--respect {
	background: $brand_blue;
	border-color: $brand_blue_dark;
	
	&:after {
		border: none;
	}
}


.value-img {
	height: 30px;
	margin-bottom: 15px;
}

.contact {
	margin: 64px 0;
}

.contact-form {
	max-width: 460px;
	margin: 0 auto;
}

.contact-input {
	width: 100%;
}