.navbar {
	position: fixed;
	top: 0;
	left: 0;
	//height: 56px;
	width: 100%;
	z-index: 2;
	background: #fff;
}

.navbar-links {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	background: #fff;

	@media #{$large} {
		position: static;
		width: auto;
		float: right;
		background: transparent;
		display: block;
	}
}

.navbar-item {
	text-align: center;
	display: block;

	a {
		display: inline-block;
		line-height: 56px;
		color: $black70;
		padding: 0 10px;
		transition: 0.2s;
		width: 100%;
		
		&:hover, &:visited {
			color: $black80;
			background: $black20;
			transition: 0.2s;
		}
	}

	@media #{$large} {
		width: auto;
		display: inline-block;
		position: relative;
		text-align: left;
	}

}

.navbar-dropdown {
	&:hover .navbar-dropdown-button {
		background: #eee;
	}
}

.navbar-dropdown-content {
	position: absolute;
	top: 46px;
	left: 0;
	width: 160px;
	background: #eee;
	width: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.2s;
	text-align: center;

	a {
		width: 100%;
		display: block;
		white-space: nowrap;
		
		&:hover {
			background: $black20;
		}
	}

	.navbar-item:hover & {
		transform: translateY(10px);
		opacity: 1;
		pointer-events: auto;
	}

	@media #{$large} {
		background: #fff;
		width: auto;
		text-align: left;
	}
}

.navbar-hamburger {
	float: right;
	width: 32px;
	height: 32px;
	margin-top: 12px;
	border: none;
	background: #fff;
	color: $black90;
	font-size: 24px;

	&:focus {
		outline: none;
	}
	
	@media #{$large} {
		display: none;	
	}
}